<h1>Sales Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th colspan="3"> Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sales_items.each do |sales_item| %>
      <tr>
        <td><%= sales_item.name %></td>
        <td><%= sales_item.category.name %></td>
        <td><%= number_to_currency(sales_item.price)%></td>
        <td><%= link_to 'Show', sales_item %></td>
        <td><%= link_to 'Edit', edit_sales_item_path(sales_item) %></td>
        <td><%= link_to 'Destroy', sales_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales item', new_sales_item_path %>
