element.style {
  display: none;
}


p#description{
  text-align:center;
  font-size:14pt;
  color:green;
  display:none;
 }// Place all the styles related to the DashBoard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
