

<!DOCTYPE html>
<html>
<head>
  <title>

    CIS 4339 Homework - JQuery and CSS

  </title>

</head>
<body>
<h1 class="centered fancy">

  Dashboard

</h1>
<div id="welcome">
  <h2 id="welcome-message">

    Welcome to the Inventory System

  </h2>
  <p>


   <div id="#woa">You have <%= SalesItem.count %> items defined in the system.</div>

  </p>

  <p>

    The <span id="average" class="bold-blue" onmouseover="showWelcome()" onmouseout="hideWelcome()">
                        average

                    </span>

     price of a sales item is <%=number_to_currency(SalesItem.average(:price))%>.
</div>
<p id="description">

  The average is the sum divided by the count.

</p>

</body>
</html>

